<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
</head>
<body>
<div id="box">
    <input type="checkbox" v-model="isAllCheckbox" @change="allCheckbox">
    <ul>
        <li v-for="data in datalist">
            <input type="checkbox" v-model="datagroup" @change="handleChangeLi" :value=data>{{ data }}
            <button @click="handleAddDelete('add', data)">add</button>
            {{ data['number'] }}
            <button @click="handleAddDelete('delete', data)">delete</button>
        </li>
    </ul>
    {{ datagroup }}
    <p>總金額: {{ getSum() }}</p>

</div>
<script type="text/javascript">
    const vm = new Vue({
        el: '#box',
        data: {
            'datalist': [
                {
                    'name': '商品1',
                    'price': 50,
                    'number': 1,
                    'id': 1,
                },
                {
                    'name': '商品2',
                    'price': 100,
                    'number': 2,
                    'id': 2,
                }, {
                    'name': '商品3',
                    'price': 200,
                    'number': 3,
                    'id': 3,
                },
            ],
            'datagroup': [],
            'isAllCheckbox': false
        },
        methods: {
            getSum() {
                return this.datagroup.reduce((x, y) => x + y.price * y.number, 0)
            },
            allCheckbox() {
                if (this.isAllCheckbox) {
                    this.datagroup = this.datalist
                } else {
                    this.datagroup = []
                }
                console.log(this.isAllCheckbox)
            },
            handleChangeLi() {
                // 其實我覺得在 getSum 方法最後面判斷就好了，不用特地寫一個方法去綁定事件，但是影片是這樣做就先照做了。
                // 下面兩個都一樣，js 比對陣列必須轉成toString做比對，或者比對長度，但是比對長度會有風險就是了。
                // this.isAllCheckbox = this.datalist.toString() === this.datagroup.toString();
                this.isAllCheckbox = this.datalist.length === this.datagroup.length;
            },
            handleAddDelete(action, data) {
                // let number = --data['number']
                // console.log(number)
                // if (number === 0){
                //     data['number'] = 1
                // }
                if (action === 'add' && data['number'] > 0) {
                    data['number'] += 1
                } else if (action === 'delete' && data['number'] > 1) {
                    data['number'] -= 1
                }
            }
        }
    })
</script>
</body>
</html>