<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    姓 <input type="text" v-model="firstName"> <br>
    名 <input type="text" v-model="lastName"> <br>
    <span>姓名: {{ firstName }} - {{ lastName }}</span>
</div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false // 阻止 vue 在啟動時生成生產提示。
    new Vue({
        el: '#root',
        data: {
            firstName: 'lee',
            lastName: 'dudulu',
        },
    })
</script>
</html>