<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
<!--
    計算屬性：
        1.定義: 需要的屬性不存在，要通過已有的屬性計算得來。
        2.原理: 可以藉助 Objcet.defineproperty 提供的 getter 和 setter。
        3.get 函數什麼時候執行？
    (1).首次讀取時會執行一次。
    (2).當依賴的數據發生改變時會被再次調用。
        4.優勢：與方法實現虛擬，內部有檢查機制(功能)，放大，精細方便。
        5.注意事項：
            1.計算屬性最終會在 vm 上，直接讀取使用方法。
            2.如果計算屬性要被修改，那必須寫設置函數去響應修改，並且設置中要計算時依賴的資料發生改變。
-->
<div id="root">
    姓名: <input type="text" v-model="firstName"><br>
    名稱: <input type="text" v-model="lastName"><br>
    <!--  與 methods 有緩存機制  -->
    全名：<span>{{ fullName }}</span><br>

</div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false // 阻止 vue 在啟動時生成生產提示。
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: 'lee',
            lastName: 'dudulu',
            x: 'hello',
        },
        computed: {
            // 完整寫法
            // fullName: {
            //     // get 什麼作用? 當有人讀取 fullName 時，得到被調用，且返回值就作為 fullName 的值。
            //     // get 什麼時候調用?
            //     // 1.開始讀取 fullName 時。
            //     // 2.所依賴的數據發生變化時。
            //     get() {
            //         console.log('get 被調用了')
            //         // console.log(this) // this = mv
            //         return this.firstName + '-' + this.lastName
            //     },
            //     // set什麼時候調用?  當 fullName 被修改時。
            //     set(value) {
            //         console.log('set', value)
            //         const arr = value.split('-')
            //         this.firstName = arr[0]
            //         this.lastName = arr[1]
            //     }
            // }

            // 只考慮讀取不考慮修改就用簡寫形式
            fullName() {
                console.log('get 被調用了')
                return this.firstName + '-' + this.lastName
            }
        }
    })
</script>
</html>